@model BLL.Models.CountryItemViewModel

@{
    ViewBag.Title = "Countries";

    string links = Html.PageLinks(Model.CurrentPage, Model.TotalPages, x => Url.Action("Index", "Country", new
    {
        page = x,
        pages = Model.Pages,
        Name = Model.Search.Name,
        Priority = Model.Search.Priority
    }));
}

<h2>Countries</h2>

@Html.Partial("_ItemsPerPage", Model)
@Html.Partial("_Search", Model.Search)

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })
</p>

@Html.Raw(links)
@Html.Partial("_Countries", Model.Countries)
@Html.Raw(links)